# Objectives
### After completing this lab you will be able to:

* Handle missing data in different ways
* Correct the data type of different data values as per requirement
* Standardize and normalize the appropriate data attributes
* Visualize the data as grouped bar graph using Binning
* Cnverting a categorical data into numerical indicator variables

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import requests
import os

## SAVE THE FILE TO OUR CURRENT DIRECTORY

In [8]:
file_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_mod1.csv"
res = requests.get(file_url)
with open("laptop_pricing_dataset_mod1.csv", "wb") as file:
    file.write(res.content)
os.rename("laptop_pricing_dataset_mod1.csv", "laptop_pricing_dataset.csv")
file_name = "laptop_pricing_dataset.csv"

## Create Dataframe now

In [98]:
df = pd.read_csv(file_name, header=0)
df.iloc[30:40]

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
30,30,Asus,4,IPS Panel,3,1,7,35.560,2.7,8,256,1.30,1515
31,31,Lenovo,3,IPS Panel,2,1,7,35.560,2.7,8,256,1.58,1880
32,32,Dell,4,IPS Panel,2,1,5,33.020,1.6,8,256,1.21,2069
33,33,Asus,3,Full HD,3,1,7,39.624,1.8,8,256,1.70,1420
34,34,HP,3,Full HD,2,1,5,43.942,1.6,8,256,2.50,1179
35,35,Acer,4,IPS Panel,2,1,7,35.560,1.8,8,256,1.60,1123
36,36,Acer,3,Full HD,3,1,3,39.624,2.7,4,256,2.20,727
37,37,HP,3,Full HD,2,1,7,35.560,1.8,8,256,1.63,1255
38,38,HP,3,IPS Panel,2,1,5,33.020,2.5,4,256,NaN,888
39,39,Lenovo,3,IPS Panel,1,1,5,35.560,1.6,8,256,1.75,1418

## now check missing field

In [96]:
print(df["Screen_Size_cm"].isnull().sum())

0

## "Screen_Size_cm" Fix NaN file with mean value Downtime

## Show dataframe Information at a glance

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      238 non-null    int64
 1   Manufacturer    238 non-null    object
 2   Category        238 non-null    int64
 3   Screen          238 non-null    object
 4   GPU             238 non-null    int64
 5   OS              238 non-null    int64
 6   CPU_core        238 non-null    int64
 7   Screen_Size_cm  234 non-null    float64
 8   CPU_frequency   238 non-null    float64
 9   RAM_GB          238 non-null    int64
 10  Storage_GB_SSD  238 non-null    int64
 11  Weight_kg       233 non-null    float64
 12  Price           238 non-null    int64
dtypes: float64(3), int64(8), object(2)
memory usage: 24.3+ KB

# Task - 1
#### Evaluate the dataset for missing data
Missing data was last converted from '?' to numpy.NaN. Pandas uses NaN and Null values interchangeably. This means, you can just identify the entries having Null values. Write a code that identifies which columns have missing data.

In [103]:
screen_size_mean = df["Screen_Size_cm"].astype("float").mean(axis=0)
screen_size_mean
df.fillna({"Screen_Size_cm": screen_size_mean}, inplace=True)
df["Screen_Size_cm"].tail(15)

223    39.624000
224    38.100000
225    30.480000
226    39.624000
227    35.560000
228    31.750000
229    35.560000
230    37.269615
231    35.560000
232    33.782000
233    35.560000
234    33.782000
235    30.480000
236    39.624000
237    35.560000
Name: Screen_Size_cm, dtype: float64

## Task - 2
#### Replace with mean
Missing values in attributes that have continuous data are best replaced using Mean value. We note that values in "Weight_kg" attribute are continuous in nature, and some values are missing. Therefore, write a code to replace the missing values of weight with the average value of the attribute.

In [106]:
weight_kg_mean = df["Weight_kg"].astype("float").mean(axis=0)
print(weight_kg_mean)
df["Weight_kg"].fillna(weight_kg_mean)
df["Weight_kg"].iloc[30:40]

1.8622317596566522

30    1.300000
31    1.580000
32    1.210000
33    1.700000
34    2.500000
35    1.600000
36    2.200000
37    1.630000
38    1.862232
39    1.750000
Name: Weight_kg, dtype: float64

# Task - 3
Fixing the data types
Both "Weight_kg" and "Screen_Size_cm" are seen to have the data type "Object", while both of them should be having a data type of "float". Write a code to fix the data type of these two columns.

In [ ]:
df["Screen_Size_cm, Weight_kg"] = df["Screen_Size_cm, Weight_kg"].astype("float")

# Task - 4
### Data Standardization
* The value of Screen_size usually has a standard unit of inches. Similarly, weight of the laptop is needed to be in pounds. Use the below mentioned units of conversion and write a code to modify the columns of the dataframe accordingly. Update their names as well.

1 inch = 2.54 cm
1 kg   = 2.205 pounds

In [113]:
# Data standardization: convert weight from kg to pounds
df["Weight_kg"] = df["Weight_kg"]*2.205
df.rename(columns={'Weight_kg':'Weight_pounds'}, inplace=True)

# Data standardization: convert screen size from cm to inch
df["Screen_Size_cm"] = df["Screen_Size_cm"]/2.54
df.rename(columns={'Screen_Size_cm':'Screen_Size_inch'}, inplace=True)

KeyError: 'Weight_kg'

In [112]:
df

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_pounds,Price
0,0,Acer,4,IPS Panel,2,1,5,14.0,1.6,8,256,3.52800,978
1,1,Dell,3,Full HD,1,1,3,15.6,2.0,4,256,4.85100,634
2,2,Dell,3,Full HD,1,1,7,15.6,2.7,8,256,4.85100,946
3,3,Dell,4,IPS Panel,2,1,5,13.3,1.6,8,128,2.69010,1244
4,4,HP,4,Full HD,2,1,7,15.6,1.8,8,256,4.21155,837
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,233,Lenovo,4,IPS Panel,2,1,7,14.0,2.6,8,256,3.74850,1891
234,234,Toshiba,3,Full HD,2,1,5,13.3,2.4,8,256,2.64600,1950
235,235,Lenovo,4,IPS Panel,2,1,5,12.0,2.6,8,256,2.99880,2236
236,236,Lenovo,3,Full HD,3,1,5,15.6,2.5,6,256,5.29200,883
237,237,Toshiba,3,Full HD,2,1,5,14.0,2.3,8,256,4.29975,1499

# Task - 5
### Binning
Binning is a process of creating a categorical attribute which splits the values of a continuous data into a specified number of groups. In this case, write a code to create 3 bins for the attribute "Price". These bins would be named "Low", "Medium" and "High". The new attribute will be named "Price-binned".

In [118]:
bins = np.linspace(min(df["Price"]), max(df["Price"]), 4)
group_names = ["Low", "Medium", "High"]
df["Priced_binned"] = pd.cut(df["Price"], bins=bins, labels=group_names, include_lowest=True)
df

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_pounds,Price,Priced_binned
0,0,Acer,4,IPS Panel,2,1,5,14.0,1.6,8,256,3.52800,978,Low
1,1,Dell,3,Full HD,1,1,3,15.6,2.0,4,256,4.85100,634,Low
2,2,Dell,3,Full HD,1,1,7,15.6,2.7,8,256,4.85100,946,Low
3,3,Dell,4,IPS Panel,2,1,5,13.3,1.6,8,128,2.69010,1244,Low
4,4,HP,4,Full HD,2,1,7,15.6,1.8,8,256,4.21155,837,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,233,Lenovo,4,IPS Panel,2,1,7,14.0,2.6,8,256,3.74850,1891,Medium
234,234,Toshiba,3,Full HD,2,1,5,13.3,2.4,8,256,2.64600,1950,Medium
235,235,Lenovo,4,IPS Panel,2,1,5,12.0,2.6,8,256,2.99880,2236,Medium
236,236,Lenovo,3,Full HD,3,1,5,15.6,2.5,6,256,5.29200,883,Low
237,237,Toshiba,3,Full HD,2,1,5,14.0,2.3,8,256,4.29975,1499,Low

# Task - 6
#### Indicator variables
Convert the "Screen" attribute of the dataset into 2 indicator variables, "Screen-IPS_panel" and "Screen-Full_HD". Then drop the "Screen" attribute from the dataset.

In [129]:
# INDICATOR VARIABLE IS "Screen"
dummy_var_1 = pd.get_dummies(df["Screen"])
dummy_var_1.rename(columns={"IPS Panel":"Screen-IPS_Panel", "Full HD":"Screen-Full_HD"}, inplace=True)
df = pd.concat([df, dummy_var_1], axis=1)
df.drop("Screen", axis=1, inplace=True)
df

KeyError: 'Screen'

In [130]:
df

,Unnamed: 0,Manufacturer,Category,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_pounds,Price,Priced_binned,Screen-Full_HD,Screen-IPS_Panel,Screen-Full_HD,Screen-IPS_Panel,Screen-Full_HD,Screen-IPS_Panel
0,0,Acer,4,2,1,5,14.0,1.6,8,256,3.52800,978,Low,False,True,False,True,False,True
1,1,Dell,3,1,1,3,15.6,2.0,4,256,4.85100,634,Low,True,False,True,False,True,False
2,2,Dell,3,1,1,7,15.6,2.7,8,256,4.85100,946,Low,True,False,True,False,True,False
3,3,Dell,4,2,1,5,13.3,1.6,8,128,2.69010,1244,Low,False,True,False,True,False,True
4,4,HP,4,2,1,7,15.6,1.8,8,256,4.21155,837,Low,True,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,233,Lenovo,4,2,1,7,14.0,2.6,8,256,3.74850,1891,Medium,False,True,False,True,False,True
234,234,Toshiba,3,2,1,5,13.3,2.4,8,256,2.64600,1950,Medium,True,False,True,False,True,False
235,235,Lenovo,4,2,1,5,12.0,2.6,8,256,2.99880,2236,Medium,False,True,False,True,False,True
236,236,Lenovo,3,3,1,5,15.6,2.5,6,256,5.29200,883,Low,True,False,True,False,True,False
237,237,Toshiba,3,2,1,5,14.0,2.3,8,256,4.29975,1499,Low,True,False,True,False,True,False