# Objectives
### After completing this lab you will be able to:

* Handle missing data in different ways
* Correct the data type of different data values as per requirement
* Standardize and normalize the appropriate data attributes
* Visualize the data as grouped bar graph using Binning
* Cnverting a categorical data into numerical indicator variables

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import requests
import os

## SAVE THE FILE TO OUR CURRENT DIRECTORY

In [8]:
file_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_mod1.csv"
res = requests.get(file_url)
with open("laptop_pricing_dataset_mod1.csv", "wb") as file:
    file.write(res.content)
os.rename("laptop_pricing_dataset_mod1.csv", "laptop_pricing_dataset.csv")
file_name = "laptop_pricing_dataset.csv"

## Create Dataframe now

In [17]:
df = pd.read_csv(file_name, header=0)
df

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,233,Lenovo,4,IPS Panel,2,1,7,35.560,2.6,8,256,1.70,1891
234,234,Toshiba,3,Full HD,2,1,5,33.782,2.4,8,256,1.20,1950
235,235,Lenovo,4,IPS Panel,2,1,5,30.480,2.6,8,256,1.36,2236
236,236,Lenovo,3,Full HD,3,1,5,39.624,2.5,6,256,2.40,883
237,237,Toshiba,3,Full HD,2,1,5,35.560,2.3,8,256,1.95,1499

## now check missing field

In [46]:
missing_rows = df[df.isnull().any(axis=1)]
missing_rows

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
29,29,HP,3,IPS Panel,3,1,5,35.560,2.5,6,256,NaN,837
38,38,HP,3,IPS Panel,2,1,5,33.020,2.5,4,256,NaN,888
49,49,Dell,4,Full HD,2,1,5,33.782,1.6,8,256,NaN,1777
61,61,Dell,3,Full HD,1,2,7,39.624,2.7,16,256,NaN,1142
68,68,Dell,3,Full HD,1,2,7,39.624,1.8,8,256,NaN,934
120,120,Dell,4,Full HD,2,1,5,NaN,1.6,8,256,1.42,2340
151,151,Dell,5,Full HD,3,1,7,NaN,2.8,8,256,2.06,2240
187,187,Samsung,4,Full HD,2,1,7,NaN,2.7,8,256,1.31,2031
230,230,Dell,4,Full HD,2,1,5,NaN,2.5,8,256,1.36,1870

## Fix NaN file with mean value

In [49]:
screen_size_mean = df["Screen_Size_cm"].astype("float").mean(axis=0)
print(np.round(screen_size_mean,2))
df.fillna(screen_size_mean, inplace=True)
df["Screen_Size_cm"].tail(15)

37.27

223    39.624000
224    38.100000
225    30.480000
226    39.624000
227    35.560000
228    31.750000
229    35.560000
230    37.269615
231    35.560000
232    33.782000
233    35.560000
234    33.782000
235    30.480000
236    39.624000
237    35.560000
Name: Screen_Size_cm, dtype: float64

## Show dataframe Information at a glance

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      238 non-null    int64
 1   Manufacturer    238 non-null    object
 2   Category        238 non-null    int64
 3   Screen          238 non-null    object
 4   GPU             238 non-null    int64
 5   OS              238 non-null    int64
 6   CPU_core        238 non-null    int64
 7   Screen_Size_cm  234 non-null    float64
 8   CPU_frequency   238 non-null    float64
 9   RAM_GB          238 non-null    int64
 10  Storage_GB_SSD  238 non-null    int64
 11  Weight_kg       233 non-null    float64
 12  Price           238 non-null    int64
dtypes: float64(3), int64(8), object(2)
memory usage: 24.3+ KB