# Collecting Job Data Using APIs

In [2]:
import requests
import json
import pandas as pd

In [11]:
api_url = "http://api.open-notify.org/astros.json"
response2 = requests.get(api_url)
if response2.ok:
    data = response2.json()
# Total Number
print(data.get('number'))
# All people
astronauts = data.get('people')
print("There are {} people who are talking about".format(len(data['people'])))
print("And there name is as follows:")
for astronaut in astronauts:
    print(astronaut['name'])

12
There are 12 people who are talking about
And there name is as follows:
Oleg Kononenko
Nikolai Chub
Tracy Caldwell Dyson
Matthew Dominick
Michael Barratt
Jeanette Epps
Alexander Grebenkin
Butch Wilmore
Sunita Williams
Li Guangsu
Li Cong
Ye Guangfu

# Objective: Determine the number of jobs currently open for various technologies and for various locationsÂ¶

In [20]:
job_api_url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"
response = requests.get(job_api_url)

def get_number_of_jobs_T(technology):
    number_of_jobs = 0
    try:
        if response.ok:
            job_data = response.json()
            number_of_jobs = sum(1 for job in job_data if technology in job.get("Key Skills").lower())
        else:
            print(f"There are no jobs for {technology}")
    except Exception as e:
        print(e)
    return technology, number_of_jobs

python = get_number_of_jobs_T('python')
print(python)

('python', 1173)

In [21]:
java = get_number_of_jobs_T('java')
print(java)

('java', 3428)

In [25]:
def get_number_of_jobs_L(location):
    number_of_jobs_per_location = 0
    try:
        if response.ok:
            job_data = response.json()
            number_of_jobs_per_location = sum(1 for job in job_data if job.get('Location') == location)
    except Exception as e:
        print(e)
            
    #your coe goes here
    return location, number_of_jobs_per_location


location1 = get_number_of_jobs_L('San Francisco')
location2 = get_number_of_jobs_L('Los Angeles')
print(location1)
print(location2)

('San Francisco', 435)
('Los Angeles', 640)

In [29]:
excel_header = ['Job Title', 'Job Experience Required', 'Key Skills', 'Role Category', 'Location', 'Functional Area', 'Industry', 'Role' ]
df = pd.DataFrame(response.json(), columns = excel_header)
df.head()

,Job Title,Job Experience Required,Key Skills,Role Category,Location,Functional Area,Industry,Role
0,Digital Media Planner,5 - 10 yrs,Media Planning| Digital Media,Advertising,Los Angeles,"Marketing , Advertising , MR , PR , Media Plan...","Advertising, PR, MR, Event Management",Media Planning Executive/Manager
1,Online Bidding Executive,2 - 5 yrs,pre sales| closing| software knowledge| client...,Retail Sales,New York,"Sales , Retail , Business Development","IT-Software, Software Services",Sales Executive/Officer
2,Trainee Research/ Research Executive- Hi- Tech...,0 - 1 yrs,Computer science| Fabrication| Quality check| ...,R&D,San Francisco,"Engineering Design , R&D","Recruitment, Staffing",R&D Executive
3,Technical Support,0 - 5 yrs,Technical Support,Admin/Maintenance/Security/Datawarehousing,Washington DC,"IT Software - Application Programming , Mainte...","IT-Software, Software Services",Technical Support Engineer
4,Software Test Engineer -hyderabad,2 - 5 yrs,manual testing| test engineering| test cases| ...,Programming & Design,Boston,IT Software - QA & Testing,"IT-Software, Software Services",Testing Engineer

In [31]:
df.to_excel("job_data.xlsx", index=False)