In [1]:
import requests
import pandas as pd

In [2]:
def download(url: str, filename: str) -> None:
    try:
        response = requests.get(url, stream=True)
        if response.status_code == 200:
            print(f'Downloading {filename}...')
            with open(filename, 'wb') as f:
                for chunk in response.iter_content(chunk_size=1024):
                    if chunk:
                        f.write(chunk)
            print(f'Download of {filename} complete!')
        else:
            print(f'Error downloading {filename}')
    except requests.exceptions.RequestException as e:
        print(f'Error downloading {filename}')

In [3]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv'
file_name = 'survey_data.csv'
download(url, file_name)

Downloading survey_data.csv...
Download of survey_data.csv complete!

###### Question 1: Display the top 5 rows and columns from your dataset.

In [30]:
df = pd.read_csv(file_name)
df.head(5)

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

##### Q 2: Print the number of rows in the dataset.

In [5]:
print(len(df))

65437

##### Q 3 Print the number of columns in the dataset.

In [7]:
print("Total Column is: ", df.shape[1])

Total Column is:  114

##### Q 4 Print the datatype of all columns.

In [8]:
df.dtypes

ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object

In [9]:
df['Age'].value_counts()

Age
25-34 years old       23911
35-44 years old       14942
18-24 years old       14098
45-54 years old        6249
55-64 years old        2575
Under 18 years old     2568
65 years or older       772
Prefer not to say       322
Name: count, dtype: int64

##### Q 5 Print the mean age of the survey participants.

In [31]:
def clean_age(age_convert):
    if 'Age' in df.columns:
        if 'Under 18' in age_convert:
            return 17
        elif ' years or older' in age_convert:
            return 66
        elif ' years old' in age_convert:
            age_convert = age_convert.replace(' years old', '')
            start_age, end_age = map(int, age_convert.split('-'))
            return (start_age + end_age) // 2
        else:
            return None
        
df['Age'] = df['Age'].apply(clean_age)

In [36]:
df.head(5)
df['Age'].value_counts()

Age
29.0    23911
39.0    14942
21.0    14098
49.0     6249
59.0     2575
17.0     2568
66.0      772
Name: count, dtype: int64

In [49]:
mean = df['Age'].mean()
print(f"Mean: {mean:.2f}")

Mean: 32.63

##### Q 6: Print how many unique countries are there

In [50]:
unique_country = df['Country'].unique()
print(f"Unique Country: {len(unique_country)}")

Unique Country: 186